{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="row">
        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Adicionar Aluno</h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <h5 class="card-title">Adicionar Aluno</h5>
                    <form method="POST" action="{% url 'cadastrar_aluno' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Cadastrar Aluno</button>
                    </form>
                </div>
                
            </div>
        </div> 
        
    </div>
</div>
</div>
{% endblock %} 
