<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Editar Aluno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked">Nome Completo</ion-label>
    <ion-input [(ngModel)]="aluno.nomeCompleto" placeholder="Nome Completo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">CPF</ion-label>
    <ion-input [(ngModel)]="aluno.cpf" placeholder="CPF"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Curso</ion-label>
    <ion-select [(ngModel)]="aluno.curso_id">
      <ion-select-option *ngFor="let curso of cursos" [value]="curso.id">
        {{ curso.nome }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Situação</ion-label>
    <ion-select [(ngModel)]="aluno.situacao_id">
      <ion-select-option *ngFor="let situacao of situacoes" [value]="situacao.id">
        {{ situacao.nome }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="full" color="primary" (click)="updateAluno()">Salvar</ion-button>
</ion-content>
