{% extends 'Base.html' %}
{% load static %}
{% block content %}
<div class="container d-flex align-items-center justify-content-center" style="min-height: 82vh;">
    <div class="col-xl-5 col-lg-8 col-md-10">
        <div class="card shadow mb-4">
            <!-- Card Header -->
            <div class="card-header py-3 d-flex justify-content-between align-items-center">
                <h6 class="m-0 font-weight-bold text-primary">Cadastrar Novo Curso</h6>
                <a href="{% url 'listarCampus' %}" class="btn btn-sm btn-primary">Lista de Cursos/Campi</a>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary w-100">Salvar</button>
                </form>
            </div>
        </div>

        <!-- Cursos Cadastrados -->
        <div class="card shadow mb-4 mt-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Cursos Já Cadastrados</h6>
            </div>
            <div class="card-body" style="max-height: 45vh; overflow-y: auto;>
                {% if cursos %}
                    <ul class="list-group">
                        {% for curso in cursos %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <strong> {{ curso.nome }}</strong>, Campus -> <strong>{{ curso.campus.nome }}</strong>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-center">Nenhum curso cadastrado até o momento.</p>
                {% endif %}
            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}
